<template>
    <NavBar />
  <div class="lg:w-7/12 w-full h-96">
    <div class="h-full w-full" id="map" ref="map"></div>
    <form class="w-72 gap-4 mt-4 mx-6" @submit.prevent="form.post('/maps', {onSuccess: () => form.reset()})">
      <input type="text" v-model="form.name" placeholder="name" />
      <input type="text" v-model="form.lat" placeholder="latitude" />
      <input type="text" v-model="form.long" placeholder="longitude" />
      <input type="text" v-model="form.description" placeholder="description" />
      <input type="submit" class="btn" value="Add marker" />
    </form>
    <table>
      <tr>
        <th>Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Description</th>
      </tr>
      <tr v-for="item in data" :key="item.id">
        <td>{{ item.name }}</td>
        <td>{{ item.latitude }}</td>
        <td>{{ item.longitude }}</td>
        <td>{{ item.description }}</td>
        <a :href="`/maps/markers/${item.id}`">Edit</a>
        <button @click="Inertia.delete(`/maps/${item.id}`)" class="btn">Delete</button>
      </tr>
    </table>
  </div>
</template>



<script setup>
import { Head, useForm } from "@inertiajs/inertia-vue3";
import { Loader } from "@googlemaps/js-api-loader";
import { inject, ref } from "vue";
import { defineProps, reactive, defineEmits } from "vue";
import { Inertia } from '@inertiajs/inertia';

const route = inject("route");
const props = defineProps({
  data: Array,
});
let map = ref(null);

const loader = new Loader({
  apiKey: "",
  version: "weekly",
});

const form = useForm({
  lat: "",
  long: "",
  name: "",
  description: "",
});
const labels = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
let labelIndex = 0;

loader.load().then(() => {
  let myLatLng = { lat: 58.24806, lng: 22.50389 };
  map = new google.maps.Map(map.value, {
    zoom: 8,
    center: myLatLng,
  });

props.data.forEach(item => console.log(item.latitude))
  for (const key in props.data) {
      console.log(key)
    let markers = new google.maps.Marker({
      position: {
        lat: props.data[key].latitude,
        lng: props.data[key].longitude,
      },
      label: props.data[key].name,
      map,
    });
  }

  new google.maps.Marker({
    position: myLatLng,
    map,
    title: "Hello World!",
  });

  let marker2 = "";
  google.maps.event.addListener(map, "click", (event) => {
    const cord = event.latLng.toJSON();
    form.long = cord.lng;
    form.lat = cord.lat;
    addMarker(cord, map);
    // form.post("/googlemaps");
  });
});
function addMarker(location, map) {
  new google.maps.Marker({
    position: location,
    label: form.name ? form.name : "",
    map: map,
  });
}
</script>
