<template>
  <Head title="Dashboard" />

  <div class="py-12">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
      <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
        <div class="p-6 bg-white border-b border-gray-200">
          {{ marker }}
          <form
            class="w-72 gap-4 mt-4 mx-6"
            @submit.prevent="submit(form)"
          >
            <input type="text" v-model="form.name" placeholder="name" />
            <input type="text" v-model="form.latitude" placeholder="latitude" />
            <input
              type="text"
              v-model="form.longitude"
              placeholder="longitude"
            />
            <input
              type="text"
              v-model="form.description"
              placeholder="description"
            />
            <input type="submit" class="btn" value="Update marker" />
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import { Head, useForm } from "@inertiajs/inertia-vue3";
import { inject, ref } from "vue";
import { defineProps, reactive, defineEmits } from "vue";

const route = inject("route");

const props = defineProps({
  data: String,
});

function submit (form) {
      console.log(form);
      form.put("/maps/markers/" + form.id);
}

console.log(props.data);
const form = useForm({
  id: props.data.id,
  name: props.data.name,
  description: props.data.description,
  latitude: props.data.latitude,
  longitude: props.data.longitude,
});
</script>
