<template>
    <NavBar />
    <head title="Weather" />
        <div class="mx-auto px-6 lg:px-8 py-12">
            <div class="bg-grey overflow-hidden shadow-sm rounded-lg">
                <div class="p-6 bg-white border-b border-black-200">
                    <div>Location: {{ data.name }}</div>
                    <div>Weather: {{ data.weather[0].main }}</div>
                    <div>Temperature: {{ data.main.temp }}°C (Feels like {{ data.main.feels_like }}°C)</div>
                    <div>Wind speed: {{ data.wind.speed }} m/s</div>
                </div>
            </div>
        </div>
</template>

<script>
export default {
    props: { data: String },
};
</script>
