<template>
        <form @submit.prevent="submitForm">
            <textarea v-model="form.comment"  placeholder="Write a comment..."></textarea>
            <button>Submit</button>
        </form>
</template>

<script setup>
const props = defineProps({
    postId: {
        type: Number,
        default: null,
    }
})

import { useForm } from "@inertiajs/inertia-vue3";
import { reactive } from "@vue/reactivity";


    const form = useForm({
        comment: ""
    })

    const submitForm = () => {
        form.post(`/comment/${props.postId}`)
        form.reset()
    }
</script>
